* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 50vh;
    padding: 7px 10px;
    cursor: pointer;
}


input {
    border-radius: 1vh;
    border-color: lightskyblue;
    border-style: solid;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    max-width: 50px;
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


p {
    font-size: 1.2em;
    color: #666;
}

label {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



nav {
    width: 100%;
    height: 100px; 
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #0a5f98;
    display: flex; 
    align-items: center; 
    padding: 0 20px; 
}

nav ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%; 
    align-items: center; 
}

nav li {
    margin: 0 20px;
    height: 100%; 
    display: flex;
    align-items: center; 
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    line-height: 40px; 
    height: 40px; 
    display: flex;
    align-items: center; 
}

nav a:hover {
    background-color: #0e87d8;
}

nav a.active {
    background-color: #57b5f4;
    font-weight: bold;
}


.default {
    background-color: gray;
}

.confirm {
    background-color: lightgreen;
    transition: background-color 0.3s ease;
}

.confirm: hover {
    background-color: #4935c4;
}

.danger {
    background-color: #FF7F7F;
}

.spread-around {
    display: flex;
    justify-content: space-between;
}


.message-list {
    height: 600px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.message.me {
    background-color: #42b4d6;
    text-align: left;
}

.message.info {
    background-color: #c5c9c7;
    text-align: left;
}

.message.peer {
    background-color: #5cdb91; 
    text-align: left;
}

.input-box {
    display: flex;
}

.input-box input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
}

.input-box button {
    padding: 5px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input[type="text"] {
    flex: 1;
    margin-right: 8px;
    height: 30px;
}

.input-group input[type="submit"],
.input-group button {
    flex: 0;
    margin-left: 8px; 
    height: 30px; 
    min-width: 100px; 
    white-space: nowrap; 
}


.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}




.main-box{
    width: 300px;
    height: 150px;
    padding: 15px;
    margin: 10px 0;
    color: #fff;
    background-color: #563df5;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    line-height: 100px;
}

.main-box:hover{
    background-color: #4935c4;
}



.mybutton{
    width: 300px;
    color: #fff;
    background-color: #563df5;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.mybutton:hover{
    background-color: #4935c4;
}


.bar-container {
    display: flex;
    justify-content: left; 
    background-color: #f1f1f1;
    border-radius: 25px;
    overflow: hidden;
    height: 30px;
    width: 100%; 
    margin: 20px 0; 
}

.bar {
    display: flex;
    align-items: left;
    justify-content: center; /* Center text inside the bar */
    height: 100%;
    color: white;
    border-radius: 25px 0 0 25px; /* Ensure the left side is rounded */
    transition: width 0.5s;
}

