* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 50vh;
    padding: 7px 10px;
    cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    max-width: 50px;
    text-align: center;
}

input {
    border-radius: 1vh;
    border-color: lightskyblue;
    border-style: solid;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

label {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

nav {
    width: 100%;
    height: 60px; /* Fixed height for the top bar */
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #4CAF50;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    padding: 0 20px; /* Add padding to the sides */
}

nav ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%; /* Set height to 100% of the nav bar */
    align-items: center; /* Center items vertically */
}

nav li {
    margin: 0 20px;
    height: 100%; /* Set height to 100% of the nav bar */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    line-height: 40px; /* Set line height to maintain vertical alignment */
    height: 40px; /* Set a fixed height for the link */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
}

nav a:hover {
    background-color: #45a049;
}

nav a.active {
    background-color: #2E7D32;
    font-weight: bold;
}

.confirm {
    background-color: lightgreen;
}

.danger {
    background-color: #FF7F7F;
}

.spread-around {
    display: flex;
    justify-content: space-between;
}

.navbar {
    background-color: #333;
    color: white;
    height: 60px;
    padding: 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    margin-bottom: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
}

.navbar .active {
    background-color: #2E7D32;
    font-weight: bold;
}

