h1 {
    text-align: center;
    margin-bottom: 40px;
}

.label {
    width: 150px; 
    padding-right: 10px; 
}

@media (max-width: 600px) {
    .trait-bar, .percentile-bar-raw {
        max-width: calc(100vw - 50px);
    }
}

