.message-list {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.message.me {
    background-color: #42b4d6;
    text-align: left;
}


.message.info {
    background-color: #c5c9c7;
    text-align: left;
}

.message.peer {
    background-color: #5cdb91; 
    text-align: left;
}

.input-box {
    display: flex;
}

.input-box input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
}

.input-box button {
    padding: 5px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input[type="text"] {
    flex: 1;
    margin-right: 8px;
    height: 30px; /* Set a fixed height */
}

.input-group input[type="submit"],
.input-group button {
    flex: 0;
    margin-left: 8px; /* Ensure there is space between the buttons */
    height: 30px; /* Match the height of the input field */
    min-width: 100px; /* Set a minimum width to prevent text wrapping */
    white-space: nowrap; /* Prevent text from wrapping */
}

