body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h1 {
    font-size: 2.5em;
    color: white;
    margin: 0;
}



.bottom-section {
    flex: 1; 
    width: 100%;
    display: flex;
    justify-content: left; 
    padding: 20px; 
    flex-direction: column;
    align-items: center;
}


h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #666;
}

.main-box{
    width: 300px;
    height: 150px;
    padding: 15px;
    margin: 10px 0;
    color: #fff;
    background-color: #563df5;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    line-height: 100px;
}

.main-box:hover{
    background-color: #4935c4;
}
